body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.p-toolbar {
  padding: 4px !important;
}

@media (min-width: 320px) {
  .p-toolbar-group-right {
    margin-top: 8px !important;
  }
}
@media (min-width: 481px) {
  .p-toolbar-group-right {
    margin-top: 8px !important;
  }
}
@media (min-width: 641px) {
  .p-toolbar-group-right {
    margin-top: 8px !important;
  }
}

@media (min-width: 961px) {
  .p-toolbar-group-right {
    margin-top: unset !important;
  }
}
@media (min-width: 1025px) {
  .p-toolbar-group-right {
    margin-top: unset !important;
  }
}
@media (min-width: 1281px) {
  .p-toolbar-group-right {
    margin-top: unset !important;
  }
}
.p-breadcrumb {
  background: #1a1a1b !important;
}
.p-rating .p-rating-item {
  width: 0.5rem !important;
  height: 0.5rem !important;
  margin: 8px !important;
}

.p-avatar.p-avatar-xl {
  width: 6rem;
  height: 6rem;
  font-size: 2rem;
}

.p-dataview .p-dataview-header {
  background: #1a1a1b !important;
}
.p-dataview .p-dataview-content {
  background: #1a1a1b !important;
}
.p-paginator {
  background: #1a1a1b !important;
}
